{% extends 'base.html' %}

{% block content %}

<!-- <div class="content-container">
    <h1>
        Join us
    </h1>
</div> -->

<div class="content">

    <p>
        We are seeking researchers working in or from the Global South, 
        with broad interests in question-driven synthesis at the intersection of the three target project’s themes: paleoclimatology, paleoecology, and archaeology. 
        Email us and/or complete the registration form to join the project.
    </p>

</div>


{% endblock %}