{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="content-container">
    <h1>Why Global South?</h1>
    <div class="global">
        <ul>
            <li>Long-term marginalization from scientific collaborations</li>
            <li>Underrepresentation of long-term social-ecological studies</li>
            <li>Diversity of landscapes under climatic & anthropogenic pressures</li>
            <li>Challenging ecosystem management in developing economies</li>
        </ul>

        <img src="{% static 'psesyn/images/about/Map_GS.PNG' %}" alt="?" >
    </div>

</div>

<div>

    

</div>




{% endblock %}